@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* 전역 */
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.inner{
    position: relative;
    width: 1100px;
    margin: 0 auto;  /* 수평 가운데 정렬 */
}

/* HEADER */
.header{
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
}
header > .inner{
    height: 120px;
}
header .logo{
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .logoImg{
    display: block;
}
header .subMenu{
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
}

header .subMenu .menu{
    display: flex;
    font-family: Arial, sans-serif;
}


.menu li{
    position: relative;
}
.menu li::before{
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: black;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
}

.menu li:first-child::before{
    display: none;
}
.menu a {
    font-size: 12px;
    padding: 6px 16px;
    display: block;
    color: #656565;
}
.menu a:hover{
    color: #000;
}

.wrpper{
    display: flex;       /* Flexbox 사용 */
    flex-direction: column; /* 자식 요소를 세로로 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    padding: 11px 5px;
}
.search{
    position: relative;
    width: auto; /* 너비를 자동으로 설정하여 내부 요소에 맞춤 */
    height: 34px;
    align-items: center; /* 수직 정렬 */
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
.search input{
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .4s; /*넓이 변환 될떄 지속 시간 */
}
.search input.expanded {
    width: 190px; /* transition 없음 */
    opacity: 1;
}
.search input:focus{
    width: 190px;
    display: inline-block;
}
.search a img {
    height: 20px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 7px;
    margin: auto;
    z-index: 1;
}

header .mainMenu{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    margin: 0;
    padding: 0;
}
header .mainMenu .item{

}
header .mainMenu .item .item__name{
    padding: 10px 20px 30px 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
header .mainMenu .item:hover .item__name{
    background-color: #2c2a29;
    color: #669900;
    border-radius: 6px 6px 0 0;
}
header .mainMenu .item .item__contents{
    width: 100%;
    position: fixed;
    left: 0;
    display: block;
    max-height:0px;
    overflow: hidden;
    transition: max-height .4s ease-in-out;
}
/* 메뉴 마우스 hover시 드롭다운 메뉴 나타내기*/
header .mainMenu .item:hover .item__contents{
    max-height: 600px;
}
header .mainMenu .item .item__contents .contents__menu{
    background-color: #2c2a29;
}
header .mainMenu .item .item__contents .contents__menu >ul{
    display: flex;
    padding: 20px 0;
}
header .mainMenu .item .item__contents .contents__menu >ul>li{
    width: 220px;
}
header .mainMenu .item .item__contents .contents__menu >ul>li h4{
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}

header .mainMenu .item .item__contents .contents__menu >ul>li ul li{
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}
header .mainMenu .item .item__contents .contents__texture{
    padding: 26px 0;
    font-size: 12px;
    background-image: url("../images/main_menu_pattern.jpg");
}
header .mainMenu .item .item__contents .contents__texture h4{
    color: #999;
    font-weight: 700;
    font-size: 12px;
    margin: 0;
}
header .mainMenu .item .item__contents .contents__texture p{
    color: #669900;
    margin: 4px 0 14px;
}